#wrapper {

	&.digitalplace-microsite-wrapper {
		padding-top: 0;
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		font-family: 'century_gothicregular';
	}

	@media (min-width: 0px) {
		.container {
			max-width: 78rem;
		}
		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}

}

.page-maximized #wrapper #content {
	max-width: 78rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
