
$digitalplace-theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$digitalplace-theme-colors: map-merge(
  (
    "primary-clr":      $rb-primary-clr,
    "primary-clr2":     $rb-primary-clr2,
    "primary-clr3":     $rb-primary-clr3,
    "primary-clr4":     $rb-primary-clr4,
    "primary-clr5":     $rb-primary-clr5,
    "primary-clr6":     $rb-primary-clr6,
    "secondary-clr1":   $rb-secondary-clr1,
    "secondary-clr2":   $rb-secondary-clr2,
    "secondary-clr3":   $rb-secondary-clr3,
    "secondary-clr4":   $rb-secondary-clr4,
    "black":            $black,
    "grey":             $grey,
    "white":            $white
  ),
  $digitalplace-theme-colors
);


// Contextual backgrounds
@mixin color-variant($parent, $color) {
    #{$parent} {
        background-color: $color !important;
    }
}

// Contextual Text Color
@mixin color-text-variant($parent, $color) {
    #{$parent} {
        color: $color !important;
    }
}

/** Background Color Util Classes */
@each $color, $value in $digitalplace-theme-colors {
    @include color-variant(".bg-clr-#{$color}", $value);
}

/** Typographic Color Util Classes */
@each $color, $value in $digitalplace-theme-colors {
    @include color-text-variant(".text-#{$color}", $value);
}