$rb-primary-clr:#60b3b6;
$rb-primary-clr2 :#ffcf21;
$rb-primary-clr3: #aec781;
$rb-primary-clr4: #65783e;
$rb-primary-clr5: #980035;
$rb-primary-clr6: #6d8e9e;

$rb-secondary-clr1: #da3771;
$rb-secondary-clr2: #6a4664;
$rb-secondary-clr3: #e40520;
$rb-secondary-clr4: #00628f;

$black: #000000;
$grey: #666666;
$white: #ffffff;